{% extends 'base.html.twig' %}

{% block title %}Edit Badge{% endblock %}

{% block body %}

<div class="container pt-5">

    <div class="row mb-2">
        
        <div class="col">
            <h1 class="text-center mb-5" style="font-family: 'Luckiest Guy', serif;color: #007682;">Edition du <span style="color: #d53767;">badge</span></h1>
            <a class="btn btn-primary mb-5" style="font-family: 'Luckiest Guy', serif;background-color:#007682;border:none;letter-spacing: 1px;" href="{{ path('app_back_badge_index') }}">Retour à la liste</a>

            <div class="col">
    
                {{ include('back/badge/_form.html.twig', {'button_label': 'Enregistrer'}) }}

                {{ include('back/badge/_delete_form.html.twig') }}
            
            
        </div>
    </div>
</div>
{% endblock %}
