{% extends 'base.html.twig' %}

{% block title %}ajout jeux dans la liste{% endblock %}

{% block body %}
<div class="container pt-5">

    <div class="row mb-2">
        <h1 class="text-center mt-4 mb-5" style="font-family: 'Luckiest Guy', serif;color: #007682;">Ajouter un <span style="color: #d53767;">jeu</span></h1>
        <div class="col">
            <div class="col" style="font-family: 'Luckiest Guy', serif;color: #d53767;">
                <a type="button" class="btn btn-primary mb-5" style="font-family: 'Luckiest Guy', serif;background-color:#007682;border:none;letter-spacing: 1px;" href="{{ path('app_back_new_game_index') }}">Retour à la liste</a>
                {{ include('back/new_game/_form.html.twig') }}
            </div>
        </div>
    </div>
</div>

    
{% endblock %}
